/* BGchat */
.cm.message.deletable.id-3998944::before,
.cm.message.id-3998944::before {
	background-image: url(https://i.imgur.com/jvCd8X4.jpg);	/* !Special Agent Frost BGchat*/
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}
#chat [data-cid^="3998944-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}

.cm.message.deletable.id-4208767::before,
.cm.message.id-4208767::before {
	background-image: url(https://media.discordapp.net/attachments/595780880153182218/598307124082245645/1530466_640502206009849_1901221418_n.jpg);	/* Al CaponeRJ BGchat*/
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}
#chat [data-cid^="4208767-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}

.cm.message.deletable.id-20574971::before,
.cm.message.id-20574971::before {
	background-image: url(https://78.media.tumblr.com/8c811ed7a14c6ee7878624a8dc0bfbec/tumblr_orvni34KDJ1r7sijxo1_500.gif);	/* Lampião BGchat */
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}
#chat [data-cid^="20574971-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}

.cm.message.deletable.id-27880115::before,
.cm.message.id-27880115::before {
	background-image: url(https://media.discordapp.net/attachments/600745656549638182/600755195856683068/Sword-Art-Online-s2-episode-5-blog-Death-Gun.jpg);	/* -Death Gun BGchat */
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}
#chat [data-cid^="27880115-"] .from {
	background: linear-gradient(to right, rgba(0, 0, 0,.12), transparent);
	padding: 7px;
	border-radius: 15px;
}

