/*Outsider*/
#user-rollover.id-16681992 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 140px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-16681992 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:140px;
	left:130px
}
#user-rollover.id-16681992 .meta{
	height:166px!important
}

/*Serenita*/
#user-rollover.id-44331478 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44331478 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44331478 .meta{
	height:146px!important
}

/*-Death Gun*/
#user-rollover.id-27880115 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-27880115 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-27880115 .meta{
	height:146px!important
}

/*Fake*/
#user-rollover.id-33479737 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-33479737 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-33479737 .meta{
	height:146px!important
}

/*Saorii Kido*/
#user-rollover.id-44257813 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44257813 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44257813 .meta{
	height:146px!important
}

/*korogui*/
#user-rollover.id-18919754 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-18919754 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-18919754 .meta{
	height:146px!important
}

/*Mumm-Rá*/
#user-rollover.id-3430994 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3430994 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3430994 .meta{
	height:146px!important
}

/*Thales-Thalessa*/
#user-rollover.id-25621593 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-25621593 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-25621593 .meta{
	height:146px!important
}


/*AluCard*/
#user-rollover.id-3861495 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3861495 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-3861495 .meta{
	height:146px!important
}


/*Bloom*/
#user-rollover.id-3148591 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 140px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3148591 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:140px;
	left:130px
}
#user-rollover.id-3148591 .meta{
	height:166px!important
}

/*Blueghost*/
#user-rollover.id-38847181 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-38847181 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-38847181 .meta{
	height:146px!important
}


/*CriZtiana*/
#user-rollover.id-22640563 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-22640563 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-22640563 .meta{
	height:146px!important
}

/*koyotekira*/
#user-rollover.id-41149475 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-41149475 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-41149475 .meta{
	height:146px!important
}

/*Lopa666*/
#user-rollover.id-39666046 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-39666046 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-39666046 .meta{
	height:146px!important
}

/*Ward EB*/
#user-rollover.id-6578930 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-6578930 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-6578930 .meta{
	height:146px!important
}

/*Burkyst*/
#user-rollover.id-20574971 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-20574971 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-20574971 .meta{
	height:146px!important
}

/*Neon Genesis Evangelion*/
#user-rollover.id-25482766 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-25482766 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-25482766 .meta{
	height:146px!important
}

/*The Ragz*/
#user-rollover.id-4160673 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4160673 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-4160673 .meta{
	height:146px!important
}

/*gustalopz*/
#user-rollover.id-44698689 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-44698689 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-44698689 .meta{
	height:146px!important
}

/*Dez105*/
#user-rollover.id-23316349 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-23316349 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-23316349 .meta{
	height:146px!important
}

/*Jheny*/
#user-rollover.id-5337806 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-5337806 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-5337806 .meta{
	height:146px!important
}

/*MamãeFalhei*/
#user-rollover.id-4404834 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4404834 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-4404834 .meta{
	height:146px!important
}

/*matth52*/
#user-rollover.id-19460660 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-19460660 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-19460660 .meta{
	height:146px!important
}

/*Aslu*/
#user-rollover.id-9296947 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-9296947 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-9296947 .meta{
	height:146px!important
}

/*Matheushbb26*/
#user-rollover.id-31403444 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-31403444 .meta:after{
	content:'Discord Membro';
	white-space:pre-wrap;
	color:#808691;
	position:absolute;
	top:120px;
	left:130px
}
#user-rollover.id-31403444 .meta{
	height:146px!important
}

/*SamanthaQueen*/
#user-rollover.id-15079349 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-15079349 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-15079349 .meta{
    height:146px!important
}
/*Denovuan*/
#user-rollover.id-3432252 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3432252 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-3432252 .meta{
    height:146px!important
}
/*Bruna_Soares*/
#user-rollover.id-4758109 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-4758109 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-4758109 .meta{
    height:146px!important
}
/*m4rianx*/
#user-rollover.id-31120629 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-31120629 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-31120629 .meta{
    height:146px!important
}
/*!Special Agent Frosty*/
#user-rollover.id-3998944 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3998944 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-3998944 .meta{
    height:146px!important
}
/*Ketlinn0*/
#user-rollover.id-45338936 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-45338936 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-45338936 .meta{
    height:146px!important
}
/*old-user2012*/
#user-rollover.id-45592874 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-45592874 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-45592874 .meta{
    height:146px!important
}
/*Joanna quase dark*/
#user-rollover.id-27929333 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-27929333 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-27929333 .meta{
    height:146px!important
}
/*Olixander*/
#user-rollover.id-3472753 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-3472753 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-3472753 .meta{
    height:146px!important
}
/*Lecin*/
#user-rollover.id-45697975 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-45697975 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-45697975 .meta{
    height:146px!important
}
/*$elvagem*/
#user-rollover.id-45746220 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-45746220 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-45746220 .meta{
    height:146px!important
}
/*Thug Life*/
#user-rollover.id-41273233 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-41273233 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-41273233 .meta{
    height:146px!important
}
/*Zenllow*/
#user-rollover.id-38733438 .meta:before {
    content: url(https://raw.githack.com/DavidStefansky/Catharsis-Club-Brazil/master/img/discord.png);
    top: 120px;
    left: 110px;
    position: absolute;
}

#user-rollover.id-38733438 .meta:after{
    content:'Discord Membro';
    white-space:pre-wrap;
    color:#808691;
    position:absolute;
    top:120px;
    left:130px
}
#user-rollover.id-38733438 .meta{
    height:146px!important
}
