/* Zoom Emblema - ID*/ 
#chat-messages .id-20574971 .badge-box:hover ,
#chat-messages .id-27880115 .badge-box:hover ,
#chat-messages .id-22517314 .badge-box:hover ,
#chat-messages .id-6507798 .badge-box:hover ,
#chat-messages .id-25482766 .badge-box:hover ,
#chat-messages .id-3998944 .badge-box:hover ,
#chat-messages .id-3432252 .badge-box:hover ,
#chat-messages .id-31120629 .badge-box:hover ,
#chat-messages .id-18919754 .badge-box:hover ,
#chat-messages .id-16681992 .badge-box:hover ,
#chat-messages .id-4208767 .badge-box:hover , 
#chat-messages .id-45592874 .badge-box:hover ,
#chat-messages .id-45697975 .badge-box:hover ,
#chat-messages .id-4758109 .badge-box:hover{ 
	width: 65px; 
	height: 65px; 
	transition: 0.5s;  
}

/* Lampião */ 
#chat-messages .id-20574971 .badge-box i.bdg, .id-20574971 .no-badge i { 
	background-image: url(https://imgur.com/ZwS8D6l.png); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}

/* Al CaponeRJ */
#chat-messages .id-4208767 .badge-box i.bdg, .id-16681992 .no-badge i { 
	background-image: url(https://media.discordapp.net/attachments/605921601615167511/605951209484058624/fotografia-al-capone-53f7748b1a2aa.png); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}

/* -Death Gun */
#chat-messages .id-27880115 .badge-box i.bdg, .id-27880115 .no-badge i { 
	background-image: url(https://i.imgur.com/VsQDF1a.png); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}

/* fløwer vulgo Mariana */ 
#chat-messages .id-22517314 .badge-box i.bdg, .id-22517314 .no-badge i { 
	background-image: url(https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}

/* CyberLady */ 
#chat-messages .id-6507798 .badge-box i.bdg, .id-6507798 .no-badge i { 
	background-image: url(https://cdn.discordapp.com/attachments/598252003893706763/601153268843937859/JPEG_20190717_023731.jpg); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}

/* Neon Genesis Evangelion */ 
#chat-messages .id-25482766 .badge-box i.bdg, .id-25482766 .no-badge i { 
	background-image: url(https://media.discordapp.net/attachments/598251726352547860/598278023715880975/LJteYjG.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}

/* !Special Agent Frosty */ 
#chat-messages .id-3998944 .badge-box i.bdg, .id-3998944 .no-badge i { 
	background-image: url(https://ep00.epimg.net/brasil/imagenes/2016/06/08/politica/1465395610_444617_1465396335_noticia_normal.jpg); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
/* Denovuan */ 
#chat-messages .id-3432252 .badge-box i.bdg, .id-3432252 .no-badge i { 
	background-image: url(https://i.imgur.com/gl3IsPk.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
/* m4rianx */ 
#chat-messages .id-31120629 .badge-box i.bdg, .id-31120629 .no-badge i { 
	background-image: url(https://media.discordapp.net/attachments/601890663130333204/601895616024674325/c15a04fa3576354d478396b38e9fcd90.png); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
/* Korogui */ 
#chat-messages .id-18919754 .badge-box i.bdg, .id-18919754 .no-badge i { 
	background-image: url(https://cdn.discordapp.com/attachments/603170983838351360/603382244836638721/giphy.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
/* Wawel */ 
#chat-messages .id-16681992 .badge-box i.bdg, .id-16681992 .no-badge i { 
	background-image: url(https://data.whicdn.com/images/280556361/original.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
/* old-user2012 */ 
#chat-messages .id-45592874 .badge-box i.bdg, .id-45592874 .no-badge i { 
	background-image: url(https://pbs.twimg.com/profile_images/1232122848/Sapo_doido.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
/* Bruna_Soares */ 
#chat-messages .id-4758109 .badge-box i.bdg, .id-4758109 .no-badge i { 
	background-image: url(https://i.imgur.com/QitbGlG.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
/* Lecin */
#chat-messages .id-45697975 .badge-box i.bdg, .id-45697975 .no-badge i { 
	background-image: url(https://i.imgur.com/9pdxp3y.gif); 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid #444A59; 
	border-radius: 0; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	background-position: initial;
}
